/* clearfix */
.group:after {
    content: "";
    display: table;
    clear: both;
}

/* html & body */
html,body {height: 100%;}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0 auto;
    padding: 0px;
    max-width: 960px;

    font: 10px 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;  /* font-size base 10 */
    color: white;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

/* main sections */
#app {
    height: 100%;
}
#background {
    font-size: 1.6rem; /* => 16 px (remember, base = 10) */

    position:relative;

    background-color: rgb(0, 119, 204);
    background-image: linear-gradient(0deg, transparent, transparent 7px, rgba(255, 255, 255, 0.25) 7px), linear-gradient(90deg, transparent, transparent 7px, rgba(255, 255, 255, 0.25) 7px);
    background-size: 8px 8px;
    background-position: left top;
}
#header {
    height: 10%;
    text-align: center;
}
#content {
    height: 80%;
}
#footer {
    height: 10%;
    text-align: center;
}

/* elements */
section, div, header, footer{
    background-color: rgba(255, 255, 255, 0.125);
    outline: rgba(255, 255, 255, 0.5) solid 1px !important;
    padding: 1%;
}
h1 {
font-size:112px;
font-weight:300;
letter-spacing:-5px;
}
h2 {
font-size:56px;
font-weight:400;
}
h3 {
font-size:45px;
font-weight:400;
}
h4 {
font-size:34px;
font-weight:400;
}
